.about {
  position: absolute;
  height: 91vh;
  background: #fff;
  width: 100%;
  z-index: 5;

  .container {
    width: 100%;
    @include maxAndCenter();
    padding: 0 1em;

    .head {
      z-index: 100;
      position: relative;

      a, a:visited, a:hover, a:active {
        text-decoration: none;
        color: inherit;
      }

      .title {
        font-size: 2em;
        font-family: 'BaskervilleLT-RegularOldFace', serif;
        letter-spacing: -0.05em;
        color: #9B9B9B;
        padding: 1.5em 0 1em;
      }
    }

    header {
      display: none;
    }

    .body {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      height: 80vh;
      padding: 4.5em 0 3vh;

      .title {
        color: #9B9B9B;
        font-family: 'DINNextLTPro-MediumCond';
        font-size: 1.7em;
        padding-bottom: 2.5em;
      }

      p {
        color: #4A4A4A;
        font-size: 1.1em;
        line-height: 1.5em;
        margin: 1.5em auto;
        max-width: 600px;
      }

      .footnotes {
        margin: 3em auto;
        padding-top: 1em;
        border-top: 1px solid rgba(151,151,151,0.38);
        max-width: 600px;

        li {
          color: #4A4A4A;
          margin-bottom: 1.5em;
          font-size: 0.9em;
          line-height: 1.2em;
          max-width: 500px;

          p {
            width: 100%;
            margin-top: 0.93em;

            &:first-of-type {
              display: inline;
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
