.disambiguate {
  opacity: 0;
  transition: opacity 300ms ease;
  width: 94%;
  position: absolute;
  background: #fff;
  text-align: center;
  padding: 0.7em;
  left: 0.2em;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;

  &.isVisible {
    opacity: 1;
  }

  span {
    @include commas();
  }
}
.disambiguateLink {
  background-color: #ccc;
  color: #000;
  line-height: 1em !important;
  border-top: 1px solid #ccc;
}
