.doc {
  display: flex;
  height: 74vh;
  position: relative;
  opacity: 0;
  transition: opacity 150ms ease;
  @include maxAndCenter();
  width: 100%;
  z-index: 10;
  overflow: hidden;

  &.show {
    opacity: 1;
  }

  &.exited,
  &.exiting {
    main {
      width: 100%;
    }
  }
  &.entered,
  &.entering {
    main {
      width: 50%;
    }
  }
  &.entered {
    aside section,
    aside h2 {
      opacity: 1;
    }
  }

  section p a,
  section p a:visited,
  section p a:active {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted #d745b6;
    line-height: 12px;
  }

  main {
    max-width: 750px;
    padding-top: 2em;
    overflow: scroll;
    padding-right: 2em;
    padding-bottom: 2em;
  }

  aside {
    width: 50%;
    padding: 2em 3em 0 1em;
    overflow: scroll;

    section,
    h2 {
      opacity: 0;
    }

    &.show {
      section,
      h2 {
        opacity: 1;
      }
    }
  }
}
