.docContainer {
  .doc main {
    position: relative;
  }
  .docHead {
    @include maxAndCenter(600px);
  }
  &.withAside {
    .docHead {
      max-width: 1024px;
    }
  }
  &.landing {
    padding-top: 9vh;
    .doc {
      height: 91vh;
    }
  }
}
