.docHead {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
  font-size: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #D6D6D6;
  box-shadow: 0 11px 15px 12px #FFFFFF;
  margin-top: 9vh;
  position: relative;
  z-index: 10;
  padding: 1.5em 1em 1.2em 0;

  .toggle {
    position: absolute;
    right: 0;
  }

  &.entered {
    header {
      &:first-of-type {
        width: 50%;
      }

      &:nth-of-type(2) {
        width: 50%;
        padding-left: 1.5em;
      }
    }
  }

  header {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    flex-grow: 1;

    .statsAndAuthors {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      flex-wrap: wrap;
      width: 70%;
    }
    .titleAndAuthor {
      margin-bottom: 1.2em;
      width: 70%;
    }
    .title {
      font-family: 'DINNextLTPro-MediumCond';
      font-size: 1.2em;
      line-height: 1.2em;
      flex-grow: 0;

      span {
        margin-right: 0.35em;
      }
    }
    .author {
      font-family: 'DINNextLTPro-Light';
      font-size: 0.7em;
      color: #000;
      line-height: 1.15em;
    }
    .stats, .authors {
      font-family: 'DINNextLTPro-Light';
      font-size: 0.9em;
      flex-grow: 0;
      transition: opacity 100ms ease;
      margin-right: 0.4em;

      span {
        @include commas();
      }
      a, a:hover, a:visited {
        color: #808080;
        text-decoration: underline;
      }
    }
  }
}
