.front {
  position: fixed;
  left: 0;
  top: 0;
  background-image: url('/stone.jpg');
  background-size: cover;
  width: 100%;
  height: 9vh;
  transition: height 300ms ease;
  z-index: 5;
  overflow: hidden;

  &.showFull {
    height: 100vh;
  }

  .authorsBody {
    //  column-count: 2;
  }

  .container {
    position: absolute;
    left: 0;
    top: 9vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8em;
    height: 91vh;
    color: rgba(255, 255, 255, 0.65);
    @include maxAndCenter();

    .head {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 43%;
      margin-right: 5%;
      transition: height 200ms ease-in-out;

      /* Equal spacing between flex children */
      // > * {
      //   margin-bottom: 1vh;
      //   &:last-child {
      //     margin-bottom: 0;
      //   }
      // }

      .toggles {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        font-size: 2em;
        cursor: pointer;
        text-decoration: underline;

        > * {
          width: unset;

          margin-bottom: 3vh;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .loader {
        display: none;
      }
    }

    .body {
      width: 46%;
      transition: opacity 100ms ease;
      align-self: flex-start;
      overflow-y: scroll;
      position: relative;
      top: 5vh;
      height: 80vh;
      // column-count: 2;
    }

    .title {
      font-size: 3em;
      line-height: 1em;
      font-family: 'BaskervilleLT-RegularOldFace', serif;
      letter-spacing: -0.05em;
      margin-bottom: 0.3em;
    }

    p {
      font-size: 1.3em;
      max-width: 750px;
      text-align: justify;
      line-height: 1.4em;
      position: relative;
      max-width: 375px;

      a,
      a:hover,
      a:active,
      a:visited {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.45);
        transition: color 50ms ease;
        cursor: pointer;
      }
      a:hover {
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
}
