.hamburger {
  display: none;

  .arrow {
    display: none;
  }

  &.homeLinkOnly {
    display: block;
    pointer-events: all;
  }



  &.navLink {
    display: flex;
    align-items: center;
    pointer-events: all;

    .arrow {
      display: block;
      margin-left: 0.8em;

      svg {
        height: 8px;
        width: 8px;
        transform: rotate(180deg);
        transition: transform 300ms linear;

        path {
          stroke: rgba(215,69,182,1);
        }
      }
    }
  }

  .databyss {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 10;
    opacity: 0.75;

    svg {
      height: 26px;
    }
  }
  .glow {
    background-image: radial-gradient(50% 77%, #ffffff 50%, rgba(25, 20, 31, 0) 79%);
    transition: all 30ms ease;
    width: 100px;
    transform: rotate(23deg);
    position: absolute;
    margin: 0 auto;
    z-index: 5;
    height: 25px;
    opacity: 0.2;
    filter: blur(6px);
    left: -1.6%;
  }
  .linkText {
    font-family: 'BaskervilleLT-RegularOldFace', serif;
    font-size: 1.5em;
    color: #fff;
    opacity: 0.65;
  }
}

.hamburger.isActive.navLink .arrow {
  svg {
    transform: rotate(0deg);
  }
}
