.loader {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    opacity: 0.5;
    width: 10vh;
    height: 10vh;
  }
  p {
    width: 100%;
    font-size: 1em !important;
    text-align: center !important;
  }
}
