.loader {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    opacity: 0.5;
    width: 10vh;
    height: 10vh;
  }
  p {
    width: 100%;
    font-size: 0.7em !important;
    color: #666;
    opacity: 1;
    text-align: center !important;
    font-family: 'DINNextLTPro-Light';
    text-transform: uppercase;
  }
}
