&.showWithMask {
  .withMask {
    opacity: 1 !important;
  }
}
.mask {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  filter: blur(0);
  transition: filter 75ms linear;

  &.show {
    filter: blur(10px);
  }
}
