.menu {
  position: absolute;
  top: 9vh;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  .container {
    position: relative;
    top: -100vh;
    transition: top 500ms ease-in-out;
    background: #fff;
    padding: 0 1em;
    max-height: 91vh;
    overflow: scroll;
  }

  &.show {
    pointer-events: all;

    .container {
      top: 0;
    }
  }

  .title {
    font-family: 'BaskervilleLT-RegularOldFace', serif;
    letter-spacing: -0.05em;
    font-size: 2em;
    color: #4A4A4A;
    line-height: 0.7em;
    padding-top: 1.8em;
    margin-bottom: 1em;
    padding-left: 0.2em;
    border-bottom: 1px solid rgba(151,151,151,0.38);
  }

  ul {
    padding-left: 0.4em;
    margin-left: 0.4em;
    font-size: 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(151,151,151,0.38);
    width: 45%;
    line-height: 1em;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 2.5em;
    }

    li {
      margin-bottom: 1em;

      a, a:hover, a:active, a:visited {
        color: #4A4A4A;
        text-decoration: none;
      }
    }
  }

}
