$hamburger-padding-x                       : 0;
$hamburger-padding-y                       : 0;
$hamburger-layer-width                     : 20px;
$hamburger-layer-height                    : 3px;
$hamburger-layer-spacing                   : 4px;
$hamburger-layer-color                     : #fff;
$hamburger-layer-border-radius             : 0;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;
$hamburger-types: (minus);

.navbar {
  @import "../node_modules/hamburgers/_sass/hamburgers/base";

  background-image: url('/stone.jpg');
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 9vh;
  transition: height 300ms ease-in-out;
  z-index: 10;
  overflow: hidden;

  &.showFull {
    height: 100vh;
  }

  .bar {
    display: flex;
    align-items: center;
    height: 9vh;
    width: 100%;
    padding: 0 1em;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid rgba(151,151,151,0.38);
      margin: 0 1em;
    }
  }

  .hamburger {
    &.showOverSearch {
      z-index: 200;

      .hamburgerInner {
        &,
        &::before,
        &::after {
          background-color: #999;
        }
      }
    }
    &.isActive {
      .hamburgerInner {
        &::before,
        &::after {
          opacity: 0;
          transition: bottom 0.08s ease-out,
                      top 0.08s ease-out,
                      opacity 0s 0.08s linear;
        }
        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }
    .hamburgerBox {
      width: $hamburger-layer-width;
      height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
      display: inline-block;
      position: relative;
    }
    .hamburgerInner {
      display: block;
      top: 50%;
      margin-top: $hamburger-layer-height / -2;

      &,
      &::before,
      &::after {
        width: $hamburger-layer-width;
        height: $hamburger-layer-height;
        background-color: $hamburger-layer-color;
        border-radius: $hamburger-layer-border-radius;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        transition: background-color 150ms 300ms linear;
      }

      &::before,
      &::after {
        content: "";
        display: block;
        transition: bottom 300ms 0s ease-out,
                    background-color 150ms 300ms linear,
                    top 300ms 0s ease-out,
                    opacity 0s linear;
      }

      &::before {
        top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      }

      &::after {
        bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
      }
    }
  }

  .menuButton {
    flex-grow: 0;
    flex-shrink: 0;
    height: 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.65;
  }
  .databyss {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0.75;

    svg {
      height: 26px;
    }
  }
  .glow {
    background-image: radial-gradient(50% 77%, #ffffff 50%, rgba(25, 20, 31, 0) 79%);
    transition: all 30ms ease;
    width: 100px;
    transform: rotate(23deg);
    position: absolute;
    margin: 0 auto;
    z-index: 5;
    height: 25px;
    opacity: 0.2;
    filter: blur(6px);
    left: 0;
    right: 1.4em;
  }
  .searchButton {
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    opacity: 0.65;

    svg {
      height: 21px;
    }
  }
}
