.subnav {
  width: 100%;
  max-width: 700px;
  position: relative;

  li, .active {
    font-family: 'DINNextLTPro-Light';
    font-size: 1em;
    text-transform: uppercase;
  }

  .active {
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(255,255,255,0);
    border-top: 2px solid #9B9B9B;
    transition: all 200ms ease-in;
    pointer-events: none;
  }

  ul {
    display: flex;
    width: 100%;
    align-items: flex-start;
    border-top: 1px solid rgba(151,151,151,0.38);
  }

  li {
    text-align: left;
    padding: 1em 1em 0 0;
    cursor: pointer;
    flex-grow: 1;

    a, a:active, a:hover, a:visited {
      color: #4A4A4A;
      text-decoration: none;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
