.front {
  flex-direction: row;

  .head .loader {
    display: none;
  }

  .body {
    margin-right: 10em;
    transition: width 200ms ease-in-out;
    opacity: 1;
    height: 56vh;

    .loader {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
      justify-content: center;
    }
  }

  &.withMotifs .head{
    height: 91vh;
    padding-top: 0;
  }

  &.withMotifs .body {
    .loader {
      display: none;
    }
  }
}
