{
  "parser"  : "babel-eslint",
  "extends" : ["airbnb-base", "react-app"],
  "rules": {
    // Soft some rules.
    "comma-dangle": 0, // Nobody cares about commas.
    "default-case": 0, // Required default case is nonsense.
    "no-confusing-arrow": 0, // No, this is not confusing.
    "no-floating-decimal": 0, // .5 is just fine.
    "no-param-reassign": 0, // We love param reassignment. Naming is hard.
    "no-shadow": 0, // Shadowing is a nice language feature. Naming is hard.
    "no-underscore-dangle": 0, // It's classic pattern to denote private props.
    "quote-props": 0, // better to stay consistent,
    "class-methods-use-this": 0,
    "react/jsx-indent": ["error", 2],
    "object-curly-newline": 0, // That's going too far
    "function-paren-newline": 0, // I like blocks to line up sometimes
    "import/extensions": 0,
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js",".jsx"]
      }
    }
  }
}
