.docHead {
  .toggle {
    width: 86px;

    .label {
      height: 2.1em;
      font-size: 12px;
      text-align: right;
    }
  }

  .title {
    line-height: 1.1em;
    position: relative;
    top: 0.15em;
  }

  .authors {
    display: 'flex';
    flex-wrap: 'wrap';
  }

  &.entered, &.entering {
    .toggle {
      right: 1.6em;
    }
  }
}
