.front {
  position: fixed;
  left: 0;
  top: 0;
  background-image: url('/stone.jpg');
  background-size: 120%;
  width: 100%;
  height: 9vh;
  transition: height 300ms ease;
  z-index: 5;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &.showFull {
    height: 100vh;
  }

  .container {
    position: absolute;
    left: 0;
    top: 12vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    height: 85vh;
    color: rgba(255, 255, 255, 0.65);
    overflow-y: scroll;

    .head {
      height: 91vh;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transition: height 200ms ease-in-out;
    }

    &.withMotifs .head{
      height: 35vh;
      padding-top: 3vh;
    }

    .body {
      justify-content: flex-end;
      opacity: 0;
      height: 0vh;
      width: 65%;
      margin-left: 5%;
      transition: opacity 100ms ease;

      .loader {
        display: none;
      }

      &.show {
        opacity: 1;
      }
    }

    &.withMotifs .body {
      height: 56vh;
    }

    .title {
      font-size: 3em;
      line-height: 1em;
      margin-bottom: 0.3em;
      font-family: 'BaskervilleLT-RegularOldFace', serif;
      letter-spacing: -0.05em;
    }

    p {
      font-size: 1.3em;
      max-width: 750px;
      text-align: justify;
      line-height: 1.4em;
      position: relative;
      max-width: 375px;

      a, a:hover, a:active, a:visited {
        text-decoration: underline;
        color: rgba(255, 255, 255, 0.45);
        transition: color 50ms ease;
      }
      a:hover {
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
}
