.doc {
  display: flex;
  height: 91vh;
  position: relative;
  transition: left 300ms ease;
  overflow: hidden;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 150ms ease;
  z-index: 10;

  &.show {
    opacity: 1;
  }

  main, aside {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    max-width: 750px;
    padding: 2em 3em 0 1em;
  }

  aside {
    section, h2 {
      opacity: 0;
      transition: opacity 300ms ease;
    }
  }

  &.entered, &.entering {
    width: 200vw;
    left: -100vw;

    main {
      width: 100vw;

      padding-right: 2em;
    }
  }

  &.entered {
    aside section, aside h2 {
      opacity: 1;
    }
  }

}
