.doc {
  display: flex;
  margin-top: 9vh;
  height: 91vh;
  position: relative;
  transition: left 300ms ease;

  &.exited, &.exiting {
    overflow: scroll;
    left: 0;
    width: 100%;

    main {
      width: 100%;
      overflow-y: visible;
    }
  },
  &.entered, &.entering {
    overflow: hidden;
    width: 200vw;
    left: -100vw;

    main {
      width: 100vw;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      padding-right: 2em;
    }
  }

  &.entered {
    aside section, aside h2 {
      opacity: 1;
    }
  }

  main {
    max-width: 750px;
    padding-top: 2em;
  }

  aside {
    width: 100vw;
    padding: 2em 3em 0 1.5em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    section, h2 {
      opacity: 0;
    }
  }
}
