.docHead {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
  font-size: 1em;
  padding: 1em;
  border-bottom: 1px solid #D6D6D6;
  margin-top: 9vh;
  position: relative;
  z-index: 10;
  width: 200vw;
  left: 0;
  position: relative;
  transition: left 300ms ease;

  .toggle {
    position: fixed;
    right: 1.5em;
    width: 86px;

    .label {
      height: 2em;
      font-size: 12px;
      line-height: 13px;
      text-align: right;
      overflow: visible;
    }
  }

  &.entered, &.entering {
    left: -100vw;
  }

  &.entered {
    header:nth-of-type(2) {
      opacity: 1;
      padding-left: 1em;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    transition: opacity 300ms ease;

    .statsAndAuthors {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      flex-wrap: wrap;
      width: 70%;
    }
    .titleAndAuthor {
      width: 70%;
      margin-bottom: 1.2em;
    }
    .title {
      font-family: 'DINNextLTPro-MediumCond';
      font-size: 1.2em;
      line-height: 1.1em;
      margin-bottom: 0.5em;
      flex-grow: 1;
      width: 64%;
      position: relative;
      top: 0.15em;

      span {
        margin-right: 0.35em;
      }
    }
    .author {
      font-family: 'DINNextLTPro-Light';
      font-size: 0.7em;
      color: #000;
      line-height: 1.15em;
    }
    .stats, .authors {
      font-family: 'DINNextLTPro-Light';
      font-size: 0.9em;
      flex-grow: 0;
      transition: opacity 100ms ease;
      margin-right: 0.4em;

      span {
        @include commas();
      }
      a, a:hover, a:visited {
        color: #808080;
        text-decoration: underline;
      }
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    .stats {
      span {
        @include commas();
      }
    }
  }
}
