.menu {
  position: absolute;
  top: 9vh;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000;

  a, a:hover, a:active, a:visited {
    color: #4A4A4A;
    text-decoration: none;
  }

  .container {
    position: relative;
    top: -100vh;
    transition: top 250ms ease-in-out;
    background: #fff;
    padding: 2em 1em 1em 1em;
    height: 91vh;
    overflow: scroll;
  }

  &.show {
    pointer-events: all;

    .container {
      top: 0;
    }
  }

  .title {
    display: none;
  }

  ul {
    padding-left: 0.4em;
    margin-left: 0.4em;
    font-size: 1.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(151,151,151,0.38);
    width: 60%;
    line-height: 1em;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 2.5em;
    }

    li {
      margin-bottom: 1em;
    }
  }

}
