.navbar {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  overflow: visible;
  transition: all 300ms ease-in-out;
  z-index: 10;
  pointer-events: none;

  .search {
    transition: all 300ms ease-in-out;
  }

  &.searchIsFocused {
    .hamburger {
      display: none;
    }
    .bar:after {
      border-bottom: none;
    }
    .search {
      position: fixed;
      top: 0;
      height: 9vh;
      display: flex;
      align-items: center;

      .container {
        position: relative;
      }
    }
    .suggestionsContainer {
      display: flex;
    }
  }

  .barContainer {
    background: url('/stone.jpg');
    background-size: 130%;
    width: 100%;
  }

  .bar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1em;
    position: relative;
    z-index: 100;
    @include maxAndCenter();

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid rgba(151,151,151,0.38);
      margin: 0 1em;
    }
  }

  .navLinks {
    display: none;
  }

  .searchContainer {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 9vh;
    align-items: center;
    pointer-events: all;

    .searchButton {
      display: none;
    }

    .menuBar {
      display: flex;
      align-items: center;
      width: 100%;
      padding-right: 1em;
      /* position: absolute; */
      height: 5vh;

      &.show .hamburger {
        opacity: 1;
      }

      .hamburger {
        position: relative;
        z-index: 200;
        opacity: 0;
        transition: opacity 300ms ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 3em;

        .hamburgerInner, .hamburgerInner::before, .hamburgerInner::after {
          background-color: #ccc;
        }
      }
    }
  }
}
