/* breakpoints */
$mobile-width: 480px;
$desktop-width: 1024px;

/* dimensions */
$content-width: 500px;
$padding: 15px;

/* fonts */
$body-font-family: 'BaskervilleLT-RegularOldFace', serif;
$body-font: 18px/25px $body-font-family;

/* colors */
$color-front-text: rgba(255, 255, 255, 0.65);
