@import 'scss/mixins';

body {
  max-width: 800px;
  margin-left: 72pt;
  margin-right: 72pt;
  margin-top: 72pt;
  margin-bottom: 72pt;
  font-size: 13pt;
  line-height: 15pt;
  text-indent: 0pt;
  font-family: 'BaskervillePro', serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
small {
  font-size: 10pt;
}
h1 {
  margin-bottom: 1.5em;
  font-size: 24pt;
}
h2 {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
  font-size: 14pt;
}
h3 {
  display: inline;
  color: #675d71;
  font-size: 12pt;
}
em {
  font-style: italic;
}
p {
  margin:0 0 3px 0;
}
section {
  margin-bottom: 1.5em;
}

* {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

.overlay {
  @include fullscreen();

  z-index: 10;
  opacity: 0.9;
  background: #fff;
}
