.container {
  display: flex;
  margin-top: 14vh;
  height: 86vh;
  position: relative;
}

.main {
  max-width: 750px;

}

.aside {
  width: 45%;
  padding: 0 3em 0 1em;
  overflow: scroll;

  section, h2 {
    opacity: 0;
  }

  &.show {
    section, h2{
      opacity: 1;
    }
  }
}
