.container {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100vh;
  left: 0;
  transition: top 200ms ease-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content {
  border-radius: 0.5em 0.5em 0 0;
  width: 97%;
  background-color: #fff;
  padding: 1.2em 1em 0.5em;
  z-index: 100;

  header {
    line-height: 0;
    position: relative;
    top: -2.4em;

    div {
      display: flex;
      align-items: center;

      span {
        font-size: 1em;
        color: #000;
        opacity: 0.5;
        position: relative;
        bottom: 0.1em;
      }

      svg {
        position: absolute;
        right: -2%;
        padding: 1px;
        opacity: 0.3;
        height: 1em;
        cursor: pointer;

        path {
          stroke: #000;
          stroke-width: 4px;
        }
      }

    }


  }
}

.mask {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ccc;
}
