$font-size: 16px;
$font-family: 'Open Sans', sans-serif;
$border-color: #aaa;
$border-radius: 4px;
$height: 30px;

.container {
  opacity: 0;
  display: none;
  width: 100%;
  max-width: 680px;
  position: absolute;
  z-index: 100;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  height: $height + 20;
  background: rgba(255,255,255,0.8);
  top: 22px;
  background: rgba(255,255,255,1);
  transition: all 500ms ease;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: $height - 10;
  position: relative;
  top: 16px;
  padding: 0 40px 0 15px;
  font-family: $font-family;
  font-weight: 300;
  font-size: $font-size;
  border: 0px;
  background: transparent;

  -webkit-appearance: none;

  &::-ms-clear {
    display: none;
  }
}

.inputOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.inputFocused {
  outline: none;
}

.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 48px;
  width: 100%;
  border: 1px solid $border-color;
  border-top: 1px dotted #efefef;
  background-color: #fff;
  font-family: $font-family;
  font-weight: 300;
  font-size: $font-size;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  z-index: 2;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  padding: 5px 20px;
}

.motifSuggestion {
  font-weight: bold;
}

.sourceSuggestion {
}

.suggestionHighlighted {
  background-color: #ddd;
}

.sectionContainer {
  border-top: 1px dashed #ccc;
}

.sectionContainerFirst {
  border-top: 0;
}

.sectionTitle {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.clear {
  width: $height;
  height: $height;
  border-radius: 50%;
  border: 0px;
  padding: 0px;
  background: #ccc;
  position: absolute;
  right: 10px;
  top: 10px;

  &:active {
    background: #aaa;
  }

  path {
    stroke: #fff;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
  }

}
